.react-calendar__month-view__weekdays > div > abbr{
  text-decoration: none !important;
}

.react-calendar__tile--active {
  background: #13bd57 !important;
  color: white;
}

.react-calendar__navigation{
background-color: #13bd57;
}

.react-calendar__navigation__label__labelText {
  color: white !important;
}

.react-calendar__navigation button {
  min-width: 44px;
  color: white;
  background: none;
}


.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
  background-color: #0f9d48 !important;
}